@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* For game-board 'O X':
font-family: 'Varela Round', sans-serif;
*/

html {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --cell-size: 10rem;
  --marker-size: calc((var(--cell-size)) * 0.9);
  --background-color: #F5F0E1;
  --primary-element-color: #1E3D59;
}

header,
main {
  text-align: center;
}

.game-title {
  margin-top: 1.5rem;
  font-size: 3.5rem;
  color: var(--primary-element-color);
}

#game-status {
  margin-top: 3%;
  font-size: 2rem;
  font-family: "Varela Round", sans-serif;
  color: var(--primary-element-color);
}

.board {
  margin-top: 3%;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid var(--primary-element-color);
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: var(--marker-size);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.reset-button {
  display: grid;
  margin: 0 auto;
  margin-top: 3%;
  width: 10rem;
  height: 4rem;
  align-items: center;
  font-size: 1.8em;
  font-family: 'Varela Round', sans-serif;
  border: none;
  border-radius: 0.5em;
  background-color: var(--primary-element-color);
  color: var(--background-color);
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  :root {
    --cell-size: 6.5rem;
  }

  .game-title {
    font-size: 2.5rem;
  }

  .game-status {
    font-size: 1.8rem;
  }

  .reset-button {
    margin-top: 2%;
    width: 8rem;
    height: 3rem;
    font-size: 1.5em;
  }  
}